body {
  min-height: 100vh;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #05282c;
}

form {
  position: relative;
}

form .search-icon {
  position: absolute;
  top: 12px;
  right: 15px;
  color: #9ca3af;
}

.background-dark {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );

  background-color: black;
}

.background-icy {
  background: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 100%);
  background-color: #fff1eb;
}

.background-sunny {
  background: linear-gradient(
    109.8deg,
    rgb(238, 9, 121) 42.8%,
    rgb(255, 106, 0) 83.3%
  );
  background-color: rgb(238, 9, 121) 42.8%;
}

.icons-icy {
  filter: invert(0%) sepia() saturate(100%) hue-rotate(160deg);
}

.icons-pink {
  filter: invert(0%) saturate(1000%) hue-rotate(175deg);
}

.current-location-icon {
  color: white;
}

.current-weather-icon {
  max-width: 100%;
}

.forecast-icons {
  width: 65%;
  padding-top: 0.3rem;
  filter: brightness(0) saturate(100%);
}

.units {
  position: relative;
  top: -12px;
  text-decoration: none;
}

.units .link-dark {
  text-decoration: none;
}

.units .link-dark:hover {
  text-decoration: underline;
}

/* .todays-forecast {
  background-color: rgba(0, 0, 0, 0.077);
} */

@media (min-width: 992px) {
  .forecast-icons {
    width: 50%;
  }
}
